<body>
    <app-nav-bar></app-nav-bar>

    <div class="grid-x grid-padding-x contact-container">
        <div class="cell medium-6 medium-offset-2 outer-div">
            <div class="cell medium-6 medium-offset inner-div">

                <div class="grid-x grid-padding-x">
                    <div class="cell medium-6 medium-offset-2">
                        <span class="title">CONTÁCTANOS</span>
                    </div>
                </div>
                <form [formGroup]="enviarForm" (ngSubmit)="enviar()">
                    <div class="grid-x grid-padding-x error-span">
                        <div class="cell medium-7 medium-offset-2">
                            <span *ngIf="empty">Por favor complete la información requerida</span>
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x name-input">
                        <div class="cell medium-6">
                            <label for="nombre" id="nombre-label">Nombre</label>
                            <input formControlName="nombre" class="input" type="text" name="nombre" (click)="inputClicked('nombre')">
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x correo-input">
                        <div class="cell medium-6">
                            <label for="correo" id="correo-label">Correo Electronico</label>
                            <input class="input" type="text" formControlName="correo" name="correo"(click)="inputClicked('correo')">
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x telefono-input">
                        <div class="cell medium-6">
                            <label for="telefono" id="telefono-label">Telefono</label>
                            <input class="input" type="text" formControlName="telefono" name="telefono"(click)="inputClicked('telefono')">
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x mensaje-input">
                        <div class="cell medium-6">
                            <label for="mensaje" id="mensaje-label">Mensaje</label>
                            <textarea class="input" name="mensaje" formControlName="mensaje"(click)="inputClicked('mensaje')"></textarea>
                        </div>
                    </div>
                    <div class="grid-x grid-padding-x submit-input">
                        <div class="cell medium-6">
                            <input id="enviar_btn" type="submit" name="submit" value="Enviar">
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-x info-container">
        <div class="cell medium-6 medium-offset-1">
            <span>Redes y Mallas<br> y Estructuras</span>
        </div>
        <div class="cell medium-6 medium-offset-1 fb-logo">
            <img src="../../../assets/img/facebook-logo.png">
            <img src="../../../assets/img/phone-logo.png">
            <span class="phone-n">57 1 4505620, 57 3157588232, 57 3165269188</span>
            <br>
            <span style="margin-left:20%">Cra. 72L #36 Sur-1 a 36 Sur-77. Bogota</span>
        </div>
        <div class="cell medium-2 separator">
            <span style="margin-left:5%"></span>
        </div>
        <div class="cell medium-6 medium-offset-7 diseñado">
            <span>Diseñado por Sergio Lombana</span>
            <img src="../../../assets/img/github-logo.png">
            <span class="portfolio-link"><a href="http://sergio-lombana.com" target="_blank">http://sergio-lombana.com</a></span>
        </div>
    </div>
</body>