body{
    background-color: #C5B5A5;
}
.contact-container{
    margin-top: 5%;
    margin-left: 0%;
}
.outer-div{
    height: 60vh;
    width: 55%;
    background-color: white;
}
.inner-div{
    margin-top: 2%;
    margin-left: 2%;
    height: 60vh;
    width: 103%;
    background-color: #67563F;
}
.title{
    color: white;
    position: relative;
    top: 20%;
    margin-top: 10%;
    margin-left: 40%;
    font-size: 2vw;
    font-family: "Bell MT"
}
.info-container{
    margin-top: 5%;
}
.info-container span:nth-child(1){
    font-family: "Bell MT";
    font-size: 1.5vw;
    color: #67563F;
    position: absolute;
    bottom: 4%;
}
.name-container{
    margin-left: 20%;
}
.fb-logo{
    position: absolute;
    left: 15%;
    display: inline-block;
}
.fb-logo img{
    height: 1.2em;
    width: 1.2em;
}
.fb-logo img:nth-child(2){
    margin-left:5%;
}
.fb-logo span{
    font-size: 1vw;
    color: black;
}
.phone-n{
    font-size: 1vw;
    color: black;
    position: absolute;
    left: 15%;
}
.separator span{
    position: absolute;
    left:50%;
    top: 88%;
    width: 0.1%;
    height: 5vh;
    background-color: rgb(99, 99, 99);
}
.diseñado{
    position: absolute;
    bottom: 9%;
}
.diseñado img{
    position: absolute;
    top: 10%;
    height:1.5em;
    width: 1.5em;
}
.portfolio-link{
    font-size: 1vw;
    position: absolute;
    top: 10%;
    left: 8%;
}
.name-input{
    position: absolute;
    left: 25%;
    top: 30%;
}
.correo-input{
    position: absolute;
    left: 25%;
    top: 38%;
}
.telefono-input{
    position: absolute;
    left: 25%;
    top: 45%;
}
.mensaje-input{
    position: absolute;
    left: 25%;
    top: 55%;
}
.submit-input{
    position: absolute;
    left: 60%;
    top:62%;
}
.name-input input, .correo-input input, 
.telefono-input input{
    width: 270%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    height: 5vh;
    font-size: 1vw;
    padding:0px;
    color: white;
}
.mensaje-input input{
    width: 270%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    height: 15vh;
    font-size: 1vw;
    padding:0px;
}
.mensaje-input textarea{
    height: 6em;
    width: 60em;
    background-color: transparent;
    font-size: 1vw;
    color: white;
    resize: none;
}
.name-input label{
    color: grey;
    position: relative;
    font-size: 1vw;
    top:45%;
} 
.correo-input label{
    width: 10em;
    color: grey;
    position: relative;
    font-size: 1vw;
    top:45%;
}
.telefono-input label{
    width: 10em;
    color: grey;
    position: relative;
    font-size: 1vw;
    top:45%;
}
.mensaje-input label{
    width: 10em;
    color: grey;
    position: relative;
    font-size: 1vw;
    top:25%;
    left: 1%;
}
.submit-input input{
    width: 4em;
    height: 5vh;
    background-color: #F57506;
    border: none;
    color: white;
    font-size: 1em;
    padding: 0;
}
#enviar_btn:hover{
    cursor: pointer;

}
.error-span{
    position: absolute;
    right:26%;
    width: 20%;
    top: 35%;
    color: #F57506;
    font-family: "Bell MT";
    font-size: 1.5vw;
}
