<body>
    <app-nav-bar></app-nav-bar>
    <div class="grid-x grid-padding-x">
        <div class="cell medium-6 medium-offset-1 img-container">
            <img src="../../../assets/img/products-img.jpg">
        </div>
        <div class="cell medium-3 product-title">
            <span>PRODUCTOS</span>
        </div>
        <div class="cell medium-3 product-desc">
            <span>
                Ofrecemos todo un sistema integral de redes contra caídas y sus estructuras, mallas de
                protección para todo espacio, comprometidos con usted y su necesidad, siempre pensando en la 
                seguridad primero.
            </span>
        </div>
        <div class="cell medium-3 button-mas">
            <button>Ver más</button>
        </div>
    </div>

</body>