<body>

    <div class="grid-x grid-padding-x products_container">
        <div class="cell medium-12">
            <div class="grid-x grid-padding-x nav-bar-container">
                <div class="cell medium-12">
                    <app-nav-bar></app-nav-bar> 
                </div>
            </div>
            <div class="grid-x grid-padding-x buscar">
                <div class="cell medium-5 medium-offset-5">
                    <img src="../../../assets///img//search-icon.png">
                    <span>Buscar</span>
                </div>
            </div>
        </div>
    </div>
    

    <div class="section_container">

    <div class="grid-x grid-padding-x first-section">
        <div class="cell medium-2 medium-offset-1 triangle">

        </div>
        <div class="cell medium-5">
            <span>Sistema de protección anticaidas</span>
        </div>
    </div>
    
    <div class="grid-x grid-padding-x first-section-products">
        <div class="cell medium-3 medium-offset-1 master-container">
            <div class="grid-x grid-padding-x background-card">
                <div class="cell medium-14">
                    <img src="../../../assets//img//redes-de-proteccion-1.jpg">
                </div>
            </div>
            <div class="grid-x grid-padding-x name-container">
                <span>Redes de protección</span>
            </div>
            <div class="grid-x grid-padding-x card-footer">
                <div class="cell medium-12">
                    <span>Ver más</span>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="grid-x grid-padding-x scroll-bar-container">
        <div class="cell medium-2 scroll-bar">
            <span>
            </span>
        </div>
    </div>

</body>