<body>

    <div class="grid-x grid-padding-x products_container">
        <div class="cell medium-12">
            <div class="grid-x grid-padding-x nav-bar-container">
                <div class="cell medium-12">
                    <img src="../../../assets//img//landing-logo.png">
                </div>
            </div>
            <div class="grid-x grid-padding-x buscar">
                <div class="cell medium-5 medium-offset-5">
                    <img src="../../../assets///img//search-icon.png">
                    <input name="search" type="text" placeholder="Buscar">
                </div>
            </div>
        </div>
    </div>
    

    <div class="section_container">

    <div class="grid-x grid-padding-x first-section">
        <div class="cell medium-2 medium-offset-1 triangle">

        </div>
        <div class="cell medium-5">
            <span>Sistema de protección anticaidas (Obras)</span>
        </div>
    </div>
    
    <div class="grid-x grid-padding-x first-section-products">
        <div class="cell medium-10 medium-offset-1 master-container">
            <div class="grid-x grid-padding-x background-card">
                <div class="cell medium-12">
                    <img src="../../../assets//img//redes-de-proteccion-1.jpg">
                </div>
            </div>
            <div class="grid-x grid-padding-x name-container">
                <span>Mamparas soportes tipo T mordaza</span>
            </div>
            <div class="grid-x grid-padding-x card-footer">
                <div class="cell medium-12">
                    <span class="ver-mas" (click)="verMas(Redes)">Ver más</span>
                </div>
            </div>
        </div>

        <div class="cell medium-10 master-container space-between-sections">
            <div class="grid-x grid-padding-x background-card">
                <div class="cell medium-12">
                    <img src="../../../assets//img//redes-de-proteccion-1.jpg">
                </div>
            </div>
            <div class="grid-x grid-padding-x name-container">
                <span>Mamparas soporte tipo T de sujeción con parales</span>
            </div>
            <div class="grid-x grid-padding-x card-footer">
                <div class="cell medium-12">
                    <span class="ver-mas" (click)="verMas(Redes)">Ver más</span>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="grid-x grid-padding-x scroll-bar-container">
        <div class="cell medium-2 arrow-up">
            <span></span>
        </div>
        <div class="cell medium-2 scroll-bar">
            <span>
            </span>
        </div>
        <div class="cell medium-2 arrow-down">
            <span></span>
        </div>
    </div>

</body>