body{
    background-color: #C5B5A5;
    height: 200vh;
}

.buscar{
    position: relative;
    top: -10%;
}
.buscar div{
    width: 15%;
    height: 6vh;
    background-color: white;
    border-radius: 20px;
}
.buscar img{
    margin-top:3%;
    width: 9%;
    height: 4vh;
    margin-left: -2%;
}
.buscar input{
    margin-left: 4%;
    position:absolute;
    top: 2%;
    height: 5.7vh;
    left: 40%;
    width: 12.5%;
    font-size: 1vw;
    border: none;
    outline: none;
    border-radius: 20px;
}

.nav-bar-container div{
    background-color: #67563F;
    height: 8em;
    border-bottom-left-radius: 100em;
    border-bottom-right-radius: 100em;
}
.first-section{
    margin-top: 5%;
}
.first-section span{
    color: #585858;
    font-size: 1.2vw;
    position: absolute;
    left: 10%;
    top: 38%;
}

.triangle{
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-left: 15px solid #F57506;
    border-bottom: 12.5px solid transparent;
    margin-top: 0.3%;
  }

.first-section-products{
    margin-top: 2%;
}
.master-container{
    background-color: white;
    width: 20%;
    height: 18em;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
}
.background-card{
    margin:2%;
}
.background-card:nth-child(1){
    height: 8em;
    width: 75%;
    background-color:#67563F;
    margin-left: 8%;
    margin-top: 8%;
}
.background-card img{
    margin-top: 5%;
    margin-left:0%;
    width: 30em;
    height: 8em;
}
.name-container{
    margin-top: 10%;
    margin-left: 8%;
}
.name-container span{
    font-size: 1.5vw;
    font-family: "Bell MT";
    font-weight: 590;
}
.card-footer{
    margin-top: 19%;
}
.card-footer div{
    height: 3em;
    width: 100%;
    background-color: #67563F;
    border-bottom-right-radius: 10em;
}
.card-footer span{
    font-size: 1.5vw;
    color: white;
    font-family: "Bell MT";
    position: relative;
    top: 0.5em;
    left: 4.5em;
}
.scroll-bar-container{
    position: absolute;
    top: 55%;
    right: 11%;
}
.scroll-bar{
    height: 30vh;
    width: 15%;
    background-color: grey;
    border-radius: 10em;
    padding: 0;
    /*position: absolute;
    right: 3%;*/
}
.scroll-bar span{
    height: 3em;
    width: .3em;
    background-color: white;
    display: inline-block;
    border-radius: 10em;
    position: absolute;
    left:53.5%;
    top:1%;

    transition: 2s;
}
.section_container{
    opacity:1;
}
.arrow-up span{
    position: absolute;
    top: -15%;
    width: 0;
    height: 0;
    left:45%;
    border-top: 8.2px solid transparent;
    border-left: 14.5px solid #F57506;
    border-bottom: 8.2px solid transparent;
    transform: rotate(-90deg);
    cursor: pointer;
}

.arrow-down span{
    position: absolute;
    top: 105%;
    width: 0;
    height: 0;
    left:45%;
    border-top: 8.2px solid transparent;
    border-left: 14.5px solid #F57506;
    border-bottom: 8.2px solid transparent;
    transform: rotate(90deg);
    cursor: pointer;
}
