<body>
    
    <div class="products-section-div">

    <div class="grid-x grid-padding-x products_container">
        <div class="cell medium-12">
            <div class="grid-x grid-padding-x nav-bar-container">
                <div class="cell medium-12 nav-bar-box">
                    <img class="logo-img" src="../../../assets//img//landing-logo.png">
                    <div class="cart-container">
                        <img class="cart-img" src="../../../assets//img//cart.png">
                        <p class="numOfItems">{{numOfItems}}</p>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-x buscar">
                <div class="cell medium-5 medium-offset-5">
                    <img src="../../../assets///img//search-icon.png">
                    <input name="search" type="text" placeholder="Buscar">
                </div>
            </div>
        </div>
    </div>

    <div class="grid-x grid-padding-x category_container">
        <div class="cell medium-4">
            <span>Categorias</span>
        </div>
    </div>

    <div class="grid-x grid-padding-x categories-box-container">
        <div class="cell medium first-box active">
            <span>Sistema de protección anticaidas</span>
        </div>
        <div class="cell medium category-box">
            <span>Redes de protección</span>
        </div>
        <div class="cell medium category-box">
            <span>Encerramientos y Estructuras</span>
        </div>
        <div class="cell medium category-box">
            <span>Mallas Deportivas</span>
        </div>
    </div>

    <div class="grid-x grid-padding-x divider-line">
        <span></span>
    </div>

    <div class="grid-x grid-padding-x first-section-products">
        <div class="cell medium-10 master-container">
            <div class="grid-x grid-padding-x background-card">
                <div class="cell medium-12">
                    <img src="../../../assets//img//redes-de-proteccion-1.jpg">
                </div>
            </div>
            <div class="grid-x grid-padding-x name-container">
                <div class="cell medium-10">
                    <span>Mamparas soportes tipo T mordaza</span>
                </div>
            </div>
            <div class="grid-x grid-padding-x card-footer">
                <div class="cell medium-12">
                    <span class="ver-mas" (click)="verMas(Redes)">Ver más</span>
                </div>
            </div>
        </div>

        <div class="cell medium-10 master-container">
            <div class="grid-x grid-padding-x background-card">
                <div class="cell medium-12">
                    <img src="../../../assets//img//redes-de-proteccion-1.jpg">
                </div>
            </div>
            <div class="grid-x grid-padding-x name-container">
                <div class="cell medium-11">
                    <span>Mampara soporte tipo T de sujeción con parales</span>
                </div>
            </div>
            <div class="grid-x grid-padding-x card-footer">
                <div class="cell medium-12">
                    <span class="ver-mas" (click)="verMas(Redes)">Ver más</span>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="ver-mas-section">
        <div class="grid-x grid-padding-x products_container_vermas">
            <div class="cell medium-12">
                <div class="grid-x grid-padding-x nav-bar-container">
                    <div class="cell medium-12 nav-bar-box">
                        <img class="logo-img" src="../../../assets//img//landing-logo.png">
                        <div class="cart-container" style="top:10%">
                            <img class="cart-img" src="../../../assets//img//cart.png">
                            <p class="numOfItems">{{numOfItems}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="grid-x grid-padding-x card-master">
            <div class="cell medium-4 arrow-container back-arrow">
                <img src="../../../assets//img//productos//arrow.png">
            </div>
            <div class="cell medium-8 card-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-5 product-img-container">
                        <img src="../../../assets//img//productos//mamparas_soportes_t/mamparast.jpg">
                    </div>
                    <div class="cell medium-3 agregar-button">
                            <button>Añadir</button>
                    </div>
                </div>
                <div class="grid-x grid-padding-x more-images">
                    <div class="cell medium-7">
                        <div class="grid-x grid-padding-x images-container">
                            <div class="cell medium-3 image">
                                <img src="../../../assets//img//productos//mamparas_soportes_t//mamparast2.jpg">
                            </div>
                            <div class="cell medium-3 image extra-img">
                                <img src="../../../assets//img//productos//mamparas_soportes_t//mamparast2.jpg">
                            </div>
                            <div class="cell medium-3 image extra-img">
                                <img src="../../../assets//img//productos//mamparas_soportes_t//mamparast2.jpg">
                            </div>
                            <div class="cell medium-3 image extra-img">
                                <img src="../../../assets//img//productos//mamparas_soportes_t//mamparast.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x product-title-vermas">
                    <div class="cell medium-9">
                        <span>Mamparas Soportes tipo T mordaza</span>
                    </div>
                </div>
                <div class="grid-x grid-padding-x product-description-vermas">
                    <div class="cell medium-10">
                        <span>
                            De uso especial en construcciones para el cubrimiento de fosos de ascensores, 
                            vacíos y huecos de forjados etc. Fabricadas en nylon de alta tenacidad con ojo
                             de 5 x 5 cm, en Nylon 100% con aditivo U.V. en dos referencias:
                        </span>
                    </div>
                </div>
                <div class="grid-x grid-padding-x opciones-container">
                    <div class="cell medium-12">
                        <div class="grid-x grid-padding-x opciones-div">
                            <div class="cell medium-6">
                                <span>Calibre</span>
                                <select name="calibre">
                                </select>
                            </div>
                            <div class="cell medium-6">
                                <span class="second-option-span">Color</span>
                                <select class="second-option-select" name="color">
                                </select>
                            </div>
                        </div>
                        <div class="grid-x grid-padding-x opciones-div"></div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x precio-container">
                    <div class="cell medium-12">
                        <span>228.000 COP</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- <body>

    <div class="grid-x grid-padding-x products_container">
        <div class="cell medium-12">
            <div class="grid-x grid-padding-x nav-bar-container">
                <div class="cell medium-12 nav-bar-box">
                    <img class="logo-img" src="../../../assets//img//landing-logo.png">
                    <div class="cart-container">
                        <img class="cart-img" src="../../../assets//img//cart.png">
                        <p class="numOfItems">{{numOfItems}}</p>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-x buscar">
                <div class="cell medium-5 medium-offset-5">
                    <img src="../../../assets///img//search-icon.png">
                    <input name="search" type="text" placeholder="Buscar">
                </div>
            </div>
        </div>
    </div>
    

    <div class="section_container">

    <div class="grid-x grid-padding-x first-section">
        <div class="cell medium-2 medium-offset-1 triangle">

        </div>
        <div class="cell medium-5">
            <span>Sistema de protección anticaidas (Obras)</span>
        </div>
    </div>
    
    <div class="grid-x grid-padding-x first-section-products">
        <div class="cell medium-10 medium-offset-1 master-container">
            <div class="grid-x grid-padding-x background-card">
                <div class="cell medium-12">
                    <img src="../../../assets//img//redes-de-proteccion-1.jpg">
                </div>
            </div>
            <div class="grid-x grid-padding-x name-container">
                <span>Mamparas soportes tipo T mordaza</span>
            </div>
            <div class="grid-x grid-padding-x card-footer">
                <div class="cell medium-12">
                    <span class="ver-mas" (click)="verMas(Redes)">Ver más</span>
                </div>
            </div>
        </div>

        <div class="cell medium-10 master-container space-between-sections">
            <div class="grid-x grid-padding-x background-card">
                <div class="cell medium-12">
                    <img src="../../../assets//img//redes-de-proteccion-1.jpg">
                </div>
            </div>
            <div class="grid-x grid-padding-x name-container">
                <span>Mamparas soporte tipo T de sujeción con parales</span>
            </div>
            <div class="grid-x grid-padding-x card-footer">
                <div class="cell medium-12">
                    <span class="ver-mas" (click)="verMas(Redes)">Ver más</span>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="grid-x grid-padding-x scroll-bar-container">
        <div class="cell medium-2 arrow-up">
            <span></span>
        </div>
        <div class="cell medium-2 scroll-bar">
            <span>
            </span>
        </div>
        <div class="cell medium-2 arrow-down">
            <span></span>
        </div>
    </div>

</body> -->