body{
    background-color: #C5B5A5;
    height: 200vh;
}
.ver-mas-section{
    /*TEMPORARY*/
    transform: translateX(100em); 
}
.products_container{
    opacity:0;
}
.products_container_vermas{
    opacity: 1;
}
.ver-mas-section{
    position: relative;
    bottom: 43.1em;
}
.buscar{
    position: relative;
    top: -10%;
}
.buscar div{
    width: 15%;
    height: 6vh;
    background-color: white;
    border-radius: 20px;
}
.buscar img{
    margin-top:3%;
    width: 9%;
    height: 4vh;
    margin-left: -2%;
}
.buscar input{
    margin-left: 4%;
    position:absolute;
    top: 2%;
    height: 5.7vh;
    left: 40%;
    width: 12.5%;
    font-size: 1vw;
    border: none;
    outline: none;
    border-radius: 20px;
}
.logo-img{
    height: 12vh;
    width: 35vh;
    position: absolute;
    left: 5%;
    top: 4%;
}
.nav-bar-box{
    background-color: #67563F;
    height: 4em;
    border-bottom-left-radius: 100em;
    border-bottom-right-radius: 100em;
}
.cart-container{
    position: absolute;
    right: 10%;
    width: 5em;
    height: 2em;
    top: 2.5%;
}
.numOfItems{
    position:absolute;
    bottom: 5%;
    left: 30%;
    color: rgb(255, 126, 5);
    font-weight: bold;
}
.cart-img{
    height: 2em;
    width: 2em;
}
.category_container{
    margin-top: 5%;
}
.category_container div{
    margin-left:5%;
}
.category_container span{
    font-family: 'Bell MT';
    color: #67563F;
    font-size: 1.8vw;
}
.categories-box-container{
    margin-top:2%;
}

.category-box{
    margin-left:2%;
    height: 7em;
    width: 9em;
    background-color: #F5EBE1;
    border-radius: 2em;
    cursor: pointer;
}
.first-box{
    margin-left: 6%;
    height: 7em;
    width: 9em;
    background-color:  #A76F23;
    border-radius: 2em;
    cursor: pointer;
}
.category-box span, .first-box span{
    color: #F5EBE1;
    font-family: 'Bell MT';
    position: relative;
    left: 9%;
    top:9%;
    font-size: 1.2vw;
}
.category-box span{
    color: #A76F23;
}
.category-box:nth-child(2) span, .category-box:nth-child(4) span{
    left: 12%;
    top:20%;
}
.category-box:nth-child(3) span{
    left: -2%;
    top:20%;
}
.first-section-products{
    margin-top: 3%;
}

.master-container{
    background-color: white;
    width: 17%;
    height: 15em;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
    margin-left: 3%;
}
.master-container:nth-child(1){
    margin-left: 6%;
}
.background-card{
    margin:2%;
}
.background-card:nth-child(1){
    height: 6em;
    width: 75%;
    background-color:#67563F;
    margin-left: 8%;
    margin-top: 8%;
}
.background-card img{
    margin-top: 5%;
    margin-left:0%;
    width: 90em;
    height: 6em;
    max-width: 120%;
}
.name-container{
    margin-top: 10%;
    margin-left: 3%;
}
.name-container span{
    font-size: 1.2vw;
    font-family: "Bell MT";
    font-weight: 500;
}
.card-footer{
    margin-top: 7%;
    cursor: pointer;
}
.card-footer div{
    height: 3em;
    width: 100%;
    background-color: #67563F;
    border-bottom-right-radius: 10em;
}
.card-footer span{
    font-size: 1.5vw;
    color: white;
    font-family: "Bell MT";
    position: relative;
    top: 0.3em;
    left: 3em;
}
.divider-line{
    margin-top:2%;
    margin-left:6%;
}
.divider-line span{
    height: .1vh;
    width: 80em;
    background-color: #67563F;
}

.card-master{
    margin-top:5em;
}
.arrow-container{
    margin-left:3%;
    cursor: pointer;
}
.arrow-container img{
    width:3em;
    margin-top: 2%;
}
.card-container{
    background-color: white;
    width: 65em;
    height: 70vh;
    position: absolute;
    left: 20%;
    border-radius: 3em;
}
.product-img-container{
    margin-top:2%;
    margin-left: .5%;
}
.product-img-container img{
    border-radius: 3em;
    height: 20em;
    width: 23em;
}
.agregar-button{
    position: relative;
    left: 40%;
    top:1em;
}
.agregar-button button{
    width: 40%;
    height: 7vh;
    background-color: #F57506;
    font-size: 1.2vw;
    color: white;
    font-family: "Bell MT";
    cursor: pointer;
}
.agregar-button button:hover{
    transition: 1s;
    background-color: rgba(88, 88, 88, 0.72);
    font-size: 1.4vw;
}
.product-title-vermas{
    position: absolute;
    left:42%;
    top:15%;
}
.product-title-vermas span{
    font-size: 1.8vw;
    font-family: 'Bell MT';
    color: #67563F;
}
.product-description-vermas{
    position:absolute;
    left:42%;
    top:35%;
}
.product-description-vermas span{
    font-size: 1.1vw;
    font-family: 'Bell MT';
}
.more-images{
    margin-top:5%;
    margin-left:.1em;
}
.image{
    margin: 0;
}
.image img{
    width: 5em;
    height: 5em;
}
.extra-img{
    position: relative;
    left: -10%;
}
.extra-img:nth-child(3){
    left: -20%;
}
.extra-img:nth-child(4){
    left:-29%;
}
select{
    width:6em;
    height:1.5em;
    margin-top:9%;
}
.opciones-container{
    position: absolute;
    left: 42%;
    top:60%;
}
.second-option-span{
    position: absolute;
}
.second-option-select{
    position: relative;
    margin-top: 28%;
}
.precio-container{
    position:absolute;
    right:10%;
    bottom:5%;
}
.precio-container span{
    font-size:1.6vw;
    font-family: 'Bell MT';
    color: #67563F;
}
/*body{
    background-color: #C5B5A5;
    height: 200vh;
}

.buscar{
    position: relative;
    top: -10%;
}
.buscar div{
    width: 15%;
    height: 6vh;
    background-color: white;
    border-radius: 20px;
}
.buscar img{
    margin-top:3%;
    width: 9%;
    height: 4vh;
    margin-left: -2%;
}
.buscar input{
    margin-left: 4%;
    position:absolute;
    top: 2%;
    height: 5.7vh;
    left: 40%;
    width: 12.5%;
    font-size: 1vw;
    border: none;
    outline: none;
    border-radius: 20px;
}
.logo-img{
    height: 12vh;
    width: 35vh;
    position: absolute;
    left: 5%;
    top: 7%;
}
.nav-bar-box{
    background-color: #67563F;
    height: 8em;
    border-bottom-left-radius: 100em;
    border-bottom-right-radius: 100em;
}
.cart-container{
    position: absolute;
    right: 10%;
    width: 5em;
    height: 2em;
    top: 9%;
}
.numOfItems{
    position:absolute;
    bottom: 2%;
    left: 30%;
    color: rgb(255, 126, 5);
    font-weight: bold;
}
.cart-img{
    height: 2em;
    width: 2em;
}
.first-section{
    margin-top: 5%;
}
.first-section span{
    color: #585858;
    font-size: 1.2vw;
    position: absolute;
    left: 10%;
    top: 38%;
}

.triangle{
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-left: 15px solid #F57506;
    border-bottom: 12.5px solid transparent;
    margin-top: 3.2%;
  }

.first-section-products{
    margin-top: 2%;
}
.master-container{
    background-color: white;
    width: 20%;
    height: 18em;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
}
.background-card{
    margin:2%;
}
.background-card:nth-child(1){
    height: 8em;
    width: 75%;
    background-color:#67563F;
    margin-left: 8%;
    margin-top: 8%;
}
.background-card img{
    margin-top: 5%;
    margin-left:0%;
    width: 30em;
    height: 8em;
}
.name-container{
    margin-top: 10%;
    margin-left: 8%;
}
.name-container span{
    font-size: 1.5vw;
    font-family: "Bell MT";
    font-weight: 590;
}
.card-footer{
    margin-top: 4%;
    cursor: pointer;
}
.card-footer div{
    height: 3em;
    width: 100%;
    background-color: #67563F;
    border-bottom-right-radius: 10em;
}
.card-footer span{
    font-size: 1.5vw;
    color: white;
    font-family: "Bell MT";
    position: relative;
    top: 0.3em;
    left: 4.2em;
}
.scroll-bar-container{
    position: absolute;
    top: 50%;
    right: 11%;
}
.scroll-bar{
    height: 30vh;
    width: 15%;
    background-color: grey;
    border-radius: 10em;
    padding: 0;
}
.scroll-bar span{
    height: 3em;
    width: .3em;
    background-color: white;
    display: inline-block;
    border-radius: 10em;
    position: absolute;
    left:53.5%;
    top:1%;

    transition: 2s;
}
.section_container{
    opacity:1;
}
.arrow-up span{
    position: absolute;
    top: -15%;
    width: 0;
    height: 0;
    left:45%;
    border-top: 8.2px solid transparent;
    border-left: 14.5px solid #F57506;
    border-bottom: 8.2px solid transparent;
    transform: rotate(-90deg);
    cursor: pointer;
}

.arrow-down span{
    position: absolute;
    top: 105%;
    width: 0;
    height: 0;
    left:45%;
    border-top: 8.2px solid transparent;
    border-left: 14.5px solid #F57506;
    border-bottom: 8.2px solid transparent;
    transform: rotate(90deg);
    cursor: pointer;
}

.products_container{
    opacity:0;
}
.space-between-sections{
    margin-left: 5%;
}*/
