.buscar{
    position: relative;
    top: -10%;
}
.buscar div{
    width: 15%;
    height: 6vh;
    background-color: white;
    border-radius: 20px;
}
.buscar img{
    margin-top:3%;
    width: 9%;
    height: 4vh;
    margin-left: -2%;
}
.buscar input{
    margin-left: 4%;
    position:absolute;
    top: 2%;
    height: 5vh;
    left: 40%;
    width: 11.5%;
    font-size: 1vw;
    border: none;
    outline: none;
}

.nav-bar-container div{
    background-color: #67563F;
    height: 8em;
    border-bottom-left-radius: 100em;
    border-bottom-right-radius: 100em;
}
.first-section{
    margin-top: 5%;
}
.first-section span{
    color: #585858;
    font-size: 1.2vw;
    position: absolute;
    left: 10%;
    top: 38%;
}

.triangle{
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-left: 15px solid #F57506;
    border-bottom: 12.5px solid transparent;
    margin-top: 3.2%;
  }

.first-section-products{
    margin-top: 2%;
}
.master-container{
    background-color: white;
    width: 20%;
    height: 18em;
    border-top-left-radius: 3em;
    border-bottom-right-radius: 3em;
}
.background-card{
    margin:2%;
}
.background-card:nth-child(1){
    height: 8em;
    width: 75%;
    background-color:#67563F;
    margin-left: 8%;
    margin-top: 8%;
}
.background-card img{
    margin-top: 5%;
    margin-left:0%;
    width: 30em;
    height: 8em;
}
.name-container{
    margin-top: 10%;
    margin-left: 8%;
}
.name-container span{
    font-size: 1.5vw;
    font-family: "Bell MT";
    font-weight: 590;
}
.card-footer{
    margin-top: 19%;
}
.card-footer div{
    height: 3em;
    width: 100%;
    background-color: #67563F;
    border-bottom-right-radius: 10em;
}
.card-footer span{
    font-size: 1.5vw;
    color: white;
    font-family: "Bell MT";
    position: relative;
    top: 0.5em;
    left: 4.5em;
}