<body>

    <app-nav-bar></app-nav-bar>

    <div class="grid-x grid-padding-x clientes-container">
        <div class="cell medium-6 medium-offset-1 constructoras">
            <div class="grid-x grid-padding-x first-section">
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-4">
                        <img src="../../../assets/img/clientes/plusconstrucciones.jpg">
                    </div>
                    <div class="cell medium-4">
                        <img src="../../../assets/img/clientes/ribonperryycia.jpg">
                    </div>
                    <div class="cell medium-4">
                        <img src="../../../assets/img/clientes/amarilo.jpg">
                    </div>
                    <div class="cell medium-4">
                        <img src="../../../assets/img/clientes/biboconstructores.jpg">
                    </div>
                    <div class="cell medium-4">
                        <img src="../../../assets/img/clientes/arconstrucciones.jpg">
                    </div>
                    <div class="cell medium-4">
                        <img src="../../../assets/img/clientes/conaltura.jpg">
                    </div>
                    <div class="cell medium-4">
                        <img src="../../../assets/img/clientes/gl.jpg">
                    </div>
                    <div class="cell medium-4">
                        <img src="../../../assets/img/clientes/grupoeco.jpg">
                    </div>
                    
                    <div class="cell medium-4">
                        <img src="../../../assets/img/clientes/hormigonreforzado.jpg">
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-x second-section">
                <div class="cell medium-12">
                    <span>Clientes</span>
                    <span>Constructoras</span>
                </div>
            </div>
        </div>
        <div class="cell medium-4 title">
            <span>NUESTROS</span>
            <span>CLIENTES</span>
        </div>
        
        <div class="cell medium-6 colegios">
            <div class="grid-x grid-padding-x first-section">
                <div class="cell medium-12">
                    <div class="grid-x grid-padding-x">
                        <div class="cell medium-4">
                            <img src="../../../assets/img/clientes/rosario.jpg">
                        </div>
                        <div class="cell medium-4">
                            <img src="../../../assets/img/clientes/colomboaericano.jpg">
                        </div>
                        <div class="cell medium-4">
                            <img src="../../../assets/img/clientes/javeriana.jpg">
                        </div>
                        <div class="cell medium-4">
                            <img src="../../../assets/img/clientes/josemaxleon.jpg">
                        </div>
                        <div class="cell medium-4">
                            <img src="../../../assets/img/clientes/jorgetadeo.jpg">
                        </div>
                        <div class="cell medium-4">
                            <img src="../../../assets/img/clientes/lasalle.jpg">
                        </div>
                        <div class="cell medium-4">
                            <img src="../../../assets/img/clientes/juanncorpas.jpg">
                        </div>
                        <div class="cell medium-4">
                            <img src="../../../assets/img/clientes/leonardodavinci.PNG">
                        </div>
                        
                        <div class="cell medium-4">
                            <img src="../../../assets/img/clientes/corazonista.PNG">
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-x second-section">
                <div class="cell medium-12">
                    <span>Colegios</span>
                    <span>y Universidades</span>
                </div>
            </div>
        </div>
    </div>

    
</body>