<body>
  <div class="grid-x grid-padding-x align center">
    <div class="cell medium-offset-5 small-12 small-offset-4 about-me-div">
      ABOUT ME
    </div>
  </div>

  <div class="grid-x grid-padding-x align-spaced bio-div">
    <div class="cell medium-7 medium-offset-2">
      <p>I'm a huge people-person, love to network and meet new people! I am always looking for ways to learn new things and improve my skills. I enjoy the process of gaining knowledge and getting out of my comfort zone.
        Enrolled in Computer Programmer Analyst at George Brown College, where I have had the opportunity to enhance my soft skills, such as team-work, time management and communication skills. Skills that have allowed me to accomplish great things both in my personal, and professional aspects of my life.</p>
    </div>
  </div>

  <div class="grid-x grid-padding-x resume-div">
    <div class="cell medium-5 medium-offset-2">
      <img src="../../../assets/img//resume.png" height="160vw" width="160vw">
    </div>
    <div class="cell medium-2 medium-offset-1">
      <img src="../../../assets//img/cv.png" height="160vw" width="160vw">
    </div>
  </div>

  <div class="grid-x grid-padding-x buttons-div">
    <div class="cell medium-5 medium-offset-2">
      <a href="https://github.com/sergiolombana101/portfolio/blob/master/SergioLombanaResume.pdf" target="_blank">
      <button class="cell medium-4 learn-more">
        <div class="circle">
          <span class="icon arrow"></span>
        </div>
        <p class="button-text">Download Resume</p>
        </button>
      </a>
    </div>
    <div class="cell medium-2 medium-offset-1">
      <a href="https://github.com/sergiolombana101/portfolio/blob/master/Cover%20Letter.pdf" target="_blank">
      <button class="cell medium-4 learn-more">
        <div class="circle">
          <span class="icon arrow"></span>
        </div>
        <p class="button-text">Download Cover Letter</p>
        </button>
        </a>
    </div>
  </div>

  
</body>

