<body>

    <app-nav-bar></app-nav-bar>

    <div class="grid-x grid-padding-x title-container">
        <div class="cell medium-3 medium-offset-1">
            <span>Visión</span>
        </div>
    </div>

    <div class="grid-x grid-padding-x text-container">
        <div class="cell medium-6 medium-offset-1">
            <span>
               Ser líderes a nivel Nacional y Latinoamericano en la fabricación e innovación de redes, estructuras
               y sistemas de protección contra caídas certificados, manteniendo la fabricación manual de redes y por
               ende generando ingresos a los sectores menos favorecidos. 
                
            </span>
        </div>

        <div class="cell medium-6 medium-offset-5 svg-container">
            <img src="../../../assets/img/vision-page-svg.png">
        </div>
    </div>

    
</body>