<div class="grid-x grid-padding-x outer-left-panel">
    <div class="cell medium-12 left-panel-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-12 logo-container">
                <img src="../../../../assets//img//company-logo.png">
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="cell medium-12 options-container">
                <div class="grid-x grid-padding-x active-bar-container">
                    <div class="cell medium-2 active-bar-vertical">
                        <span></span>
                    </div>
                    <div class="cell medium-10 active-bar-horizontal"></div>
                </div>
                <div class="grid-x grid-padding-x option">
                    <div class="cell medium-3 option-img">
                        <img src="../../../../assets//img//iconos//inicio.png">
                    </div>
                    <div class="cell medium-6 option-text">
                        <span>INICIO</span>
                    </div>                      
                </div>
            <!-- SECOND OPTION -->

                <div class="grid-x grid-padding-x secondary-option option">
                    <div class="cell medium-3 option-img">
                        <img src="../../../../assets//img//iconos//productos.png">
                    </div>
                    <div class="cell medium-6 option-text">
                        <span>VENTAS</span>
                    </div>                      
                </div>
            <!-- THIRD OPTION -->
            <div class="grid-x grid-padding-x secondary-option option">
                <div class="cell medium-3 option-img">
                    <img src="../../../../assets//img//iconos//productos-admin.png">
                </div>
                <div class="cell medium-6 option-text">
                    <span>PRODUCTOS</span>
                </div>                      
            </div>

            </div>   
        </div>

    </div>
</div>
