.nav-bar{
    width:100%;
    height: 7vh;
    position: relative;
}
.nav-elements{
    position: relative;
    margin-top: 1%;
    cursor: pointer;
}
.nav-elements span{
    font-size: 1.4vw;
    color: white;
    margin-left: 15%;
    font-family: 'Bell MT';
    border-bottom: 2px solid orange;
    border-width: 0px;
    font-weight: bold;
}
.nav-child{
    position: relative;
    margin-left: 110%;
}

.nav-logo{
    position: relative;
    left: 2%;
    margin-top: 1%;
}
.nav-logo img{
    height: 10vh;
    width: 15%;
}
.nav-line{
    position: absolute;
    top: 4%;
    left: 8.6%;
}

.nav-line span{
    height: .6vh;
    width: 45%;
    background-color: #F57506;
    display: inline-block;
}

.nav-child img{
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    margin-left: 4%;
}