<div class="grid-x grid-padding-x nav-bar">
    <div class="cell medium-4 nav-logo">
        <img src="../../../assets/img/company-logo.png">
    </div>
    <div class="nav-elements">
    <div id="nav-bar" class="cell medium-1 nav-child">
        <span (click)="inicioClick()">Inicio</span>
        <span (click)="productosClick()">Productos</span>
        <span (click)="clientesClick()">Clientes</span>
        <span (click)="contactClick()">Contáctanos</span>
        <div>
            <img src="../../../assets//img//cart.png">
            <p class="numOfItems">{{numOfItems}}</p>
        </div>
    </div>
    </div>

</div>
<div class="grid-x grid-padding-x">
    <div class="cell medium-1 medium-offset-8 nav-line">
        <span></span>
    </div>
</div>

<script>

    let nav_container = document.getElementById("nav-bar");
    let nav_elements = nav_container.children;

    for(let x = 0; x<nav_elements.length;x++){
        nav_elements[x].onmouseover = () => {
            console.log("Mouse over");
        }
    }
</script>