<body>
    
    <div class="grid-x grid-padding-x cards-container">
        <div class="cell medium-4 medium-offset-1">
            <div class="nosotros-card-outer">
                <div class="nosotros-card-inner">
                    <div class="grid-x grid-padding-x">
                        <img src="../../../assets/img/nosotros-svg.png">
                    </div>
                    <div class="grid-x grid-padding-x nosotros-text">
                        <span (click)="nosotrosClick()">NOSOTROS</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="cell medium-4 medium-offset-4">
            <div class="mision-card-outer">
                <div class="mision-card-inner">
                    <div class="grid-x grid-padding-x">
                        <img src="../../../assets/img/mision-svg.png">
                    </div>
                    <div class="grid-x grid-padding-x mision-text">
                        <span (click)="misionClick()">MISIÓN</span>
                    </div>
                </div>
    
            </div>
        </div>

        <div class="cell medium-4 medium-offset-7">
            <div class="vision-card-outer">
                <div class="vision-card-inner">
                    <div class="grid-x grid-padding-x">
                        <img src="../../../assets/img/vision-svg.png">
                    </div>
                    <div class="grid-x grid-padding-x vision-text">
                        <span (click)="visionClick()">VISIÓN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>