<body>

    <app-nav-bar></app-nav-bar>

    <div class="grid-x grid-padding-x title-container">
        <div class="cell medium-3 medium-offset-1">
            <span>Misión</span>
        </div>
    </div>

    <div class="grid-x grid-padding-x text-container">
        <div class="cell medium-6 medium-offset-1">
            <span>
                Ser un agente activo en búsqueda de la sostenibilidad y mediante la fabricación de redes, mallas
                y estructuras de alta calidad, creando confianza en nuestros productos, liderando nuevos proyectos
                que estén a la vanguardia de las necesidades futuras, y otorgando oportunidades laborales que 
                contribuyan a la expansión de la compañía.
                
            </span>
        </div>

        <div class="cell medium-6 medium-offset-5 svg-container">
            <img src="../../../assets/img//mision-page-svg.png">
        </div>
    </div>

    
</body>