<div *ngIf="loaded == false && visitCount == '1'" class="main-loading" [ngStyle]="opacity?{'transform':'translateX(-2000px)'}:null">
    <div class="video-wrapper">
    <video width="1000" height="1000" class="video" autoplay>
        <source src="../../../assets/videos//animation.mp4">
    </video>
    </div>
    <div class="borders">
        <div class="border-left"></div>
        <div class="border-right"></div>
        <div class="border-top"></div>
    </div>
</div>


<div class="main" [ngStyle]="loaded?{'opacity':'1','top':'0%'}:{'opacity':'none'}">
    <section class="home-landing">
        <app-home-landing></app-home-landing>
    </section>
    <section>
        <app-company></app-company>
    </section>
</div>

