<div *ngIf="loaded == false && visitCount == '1'" class="main-loading" [ngStyle]="opacity?{'transform':'translateX(-2000px)'}:null">
    <div class="video-wrapper">
    <div class="video">
        <img src="../../../assets//img/animation1.svg">
    </div>
    <div class="progress-bar">
        <div class="bar-outer">
            <div class="bar"></div>
        </div>
        <span id="percentage"></span><span class="percentage">%</span>
    </div>
    </div>
</div>


<div class="main" [ngStyle]="loaded?{'opacity':'1','top':'0%'}:{'opacity':'none'}">
    <section class="home-landing">
        <app-home-landing></app-home-landing>
    </section>
    <section>
        <app-company></app-company>
    </section>
</div>

