.main{
    opacity:0;
    transition: 2s;
    top:100%;
}
.home-landing{
    height:150em;
    width: 100%;
}
.main-loading{
    transition: 2s;
    position: relative;
    display: block;
    overflow: hidden;
    height:100vh;
    width: 100%;
    background-color: #67563F;
}
.video{
    width: 30%;
    height: 50vh;
    position: absolute;
    left: 35%;
    top: 15%;
}

.videp-wrapper{
    overflow: hidden;
    width: 20em;
}
.border-left,.border-right,.border-top{
    background-color: #67563F;
    height: 45em;
    width: 2em;
}
.border-left{
    position: absolute;
    top: 10%;
    left: 25%;
}
.border-right{
    position: absolute;
    top: 10%;
    left: 74%;
}
.border-top{
    transform: rotate(90deg);
    position: absolute;
    left: 48%;
    top: -35%;
    height: 50em;
}

.progress-bar{
    position: absolute;
    top:55%;
    left:44%;
    display: flex;
}
.bar-outer{
    width:7em;
    height:.4em;
    background-color: #F5EBE1;
    border-radius: 2em;
}
.bar{
    height: .4em;
    width:1em;
    background-color: #A3917E;
    border-radius: 2em;
    transition: 7s;
}
#percentage{
    color: white;
    margin-right: 1em;
    position: absolute;
    top: -120%;
    left: 110%;
}

.percentage{
    position: absolute;
    top:-120%;
    left: 120%;
    margin-left: 1em;
    color: white
}


@-webkit-keyframes slide {
    100% { left: -100; }
}

@keyframes slide {
    100% { left: -100; }
}